@page "/colorpicker-features"
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@using Newtonsoft.Json.Linq;
<h2>Color Picker</h2>
<br/>
<div id = "ControlRegion">
     <div id="default-control">
        <h4>Choose a color</h4>
        <SfColorPicker></SfColorPicker>
    </div>
</div>
<br/>
<div>
  <h3>Selected Features:</h3>
    <ul class="ulstyle">
      <li class="list"> Color Picker Samples - Default</li>
      <li class="list"> Theme - Bootstrap v4</li>
    </ul>
</div>
<br/>
<style>
.ulstyle {
        margin: 0px;
        padding-left: 20px;
        display: inline-block;
    }
    .list {
    float: left;
    line-height: 20px;
    margin: 10px;
    min-width: 340px;
    }
    #default-control {
         padding-top:50px;
         padding-bottom:50px;
        text-align: center;
    }
        #default-control .row {
            width: 100%;
        }
    .ulstyle {
        margin: 0px;
        padding-left: 20px;
        display: inline-block;
    }
    .list {
    float: left;
    line-height: 20px;
    margin: 10px;
    min-width: 200px;
    }
</style>
