@page "/word-features"
@using System.IO;
@using YingHua.Abp.SyncfusionUI.Tests;
@inject YingHua.Abp.SyncfusionUI.Tests.Data.WordService service
@inject Microsoft.JSInterop.IJSRuntime JS
<h2>Word</h2>
<br/>
<div id = "ControlRegion">
<p>Syncfusion Word Library (Essential DocIO) is a feature-rich and high-performance Blazor Word library that allows you to create, read, edit, and convert Word documents programmatically without Microsoft Office dependencies. This library also provides functionalities such as mail merge, merging and splitting Word documents, and finding and replacing text.</p>
<button class="btn btn-primary" @onclick="@CreateWord">Create Word</button>
</div>
@code {
    MemoryStream documentStream;
    /// <summary>
    /// Create and download the Word document
    /// </summary>
    protected async void CreateWord()
    {
        documentStream = service.CreateWord();
        await JS.SaveAs("Sample.docx", documentStream.ToArray());
    }
}
